
<h1>Welcome back, Please Log In Below:</h1><br><br>

<form action="/login" method="post">
<label>Username:</label>
<input type="text" name="username" id="username" placeholder="username">
<label>Password</label>
<input type="password" name="password" id="password" placeholder="password">
<input type="submit" value="login">
</form>
