<h1>Welcome to the highly anticipated Parking app for Washington Heights!</h1><br><br>
<label><strong>Lets get you signed up or simply log in 😊</strong></label><br><br>

<form action="/signup" method= "post" >
<label>Username:</label>
<input type="text" name="username" id="username" ><br><br>
<label>Phone Number:</label>
<input type="text" name="phone_number" id="email"><br><br>
<label>Password:</label>
<input type="password" name="password" id="password"><br><br>
<input type="submit" value="Create Account">
</form>



<a href="/login"><button>Log In</button>
