<h1>Welcome To The Highly Anticipated Parking App For Washington Heights!</h1><br><br>
<label><strong>Lets get you signed up or simply log in 😊</strong></label><br><br>

<form action="/signup" method= "post" >
<label>Username:</label>
<input type="text" name="username" id="username" ><br><br>
<label>Phone Number:</label>
<input type="text" name="phone_number" id="email"><br><br>
<label>Password:</label>
<input type="password" name="password" id="password"><br><br>
<input type="submit" value="Create Account">
</form>

<a href="/login"><button>Log In</button><br><br>

<img src="https://static01.nyt.com/images/2018/04/25/nyregion/25parkingpermit1/merlin_137273829_d3b0c5da-d66c-45d8-a934-289df129fb39-jumbo.jpg?quality=90&auto=webp" alt="parking spot" height="200" width="400">
