<form action='/locations' method="post">
  <strong><label>Where did you park your car?</label></strong>
  <input type="text" name="coordinates" placeholder="location?"><br>
  <input type="submit" name="submit car location">
</form>
